<form class="form-inline">
            <div class="form-group">
              <select class="form-control" name="collection" ng-model="collectionModel.collection">
                <option value="{{item.id}}" ng-repeat="item in collectionsResult">add to: {{item.title}}</option>
              </select>
              <button class="btn btn-default" ng-click="collection('add', item.title, item.channelId, collectionModel.collection)" type="button" name="button"> add</button>
            </div>
          </form>