<div class="" ng-repeat="item in searchResults.items">
  <div ng-if="item.id.kind =='youtube#channel'">
    <a href="https://www.youtube.com/user/{{item.snippet.channelTitle}}" target="_blank">
      <h5>{{item.snippet.title}}</h5>
      <img ng-src="{{item.snippet.thumbnails.default.url}}">
      <p>{{item.snippet.desctition}}</p>
    </a>
  </div>
</div>
<div ng-repeat="item in iframeListSearchVid">
  <iframe width="420" height="315" style="width:100%" ng-src="{{item}}" frameborder="0" allowfullscreen></iframe>
</div>

